body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2 {
    color: black;
}

h5 {
    color: black;
}

p {
    color: black;
}

a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #444;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

.product {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    display: grid;
}

.product img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    
}

.product h2 {
    margin-top: 10px;
}

.product p {
    margin: 5px 0;
}

.faq-form {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.faq-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.faq-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.faq-form input[type="text"],
.faq-form input[type="email"],
.faq-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.faq-form textarea {
    resize: vertical;
    height: 100px;
}

.faq-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-form button:hover {
    background-color: #555;
}

.faq-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-container h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.faq-question {
    font-weight: bold;
}

.faq-answer {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
